@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #020617;
  --foreground: #f8fafc;
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}

.container {
  max-width: 1200px;
}
